<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>景天的小屋</title>
	<link rel="stylesheet" type="text/css" href="static/css/normalize.css" />
	<link rel="stylesheet" type="text/css" href="static/css/default.css" />
	<link rel="stylesheet" type="text/css" href="static/css/user.css" />
	<style>

	</style>
	<!--[if IE]>
		<script src="http://libs.useso.com/js/html5shiv/3.7/html5shiv.min.js"></script>
	<![endif]-->
</head>

</style>
<body>
		<div class="title">
			<p style="color:white;">景天的小屋</p>
		</div>
        <div class="menu">
			<a href="/" title="首页"> 首页</a>
            <a href="/movie" title="视频"> 视频</a>
        	<a href="/image" style="background-color: #CCC;" title="图片"> 图片</a>
        	<a href="/novel" title="小说"> 小说</a>
        </div>
		<div class="htmleaf-content bgcolor-4">
        	<div align="center">
            	<div class="main_item">
					<a href="/image" title="图片集"><img align="center" style="width:100%;" src="/upload/{{pic}}"/></a>
            	</div>
            </div>
		</div>
	
	<script src="http://libs.baidu.com/jquery/1.7.2/jquery.min.js"></script>
	<script src="static/js/jquery.waterfall.js"></script>
	<script>
	$("#div1").waterfall({
	    itemClass: ".box",
	    minColCount: 2,
	    spacingHeight: 10,
	    resizeable: true,
	});
	</script>
</body>
</html>